<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKExamAnki.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A93B1A221CB79C3F00E5A177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93B1A3B1CB79C4000E5A177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93B1A461CB79C4000E5A177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
